body {
    background-color: #333;
}
.outbox {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
.scrollable {
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.inbox {
    width: 20000em;
    position: absolute;
    left: 0;
}
.inbox > div {
    width: 800px;
    float: left;
}
.prev,.next {
    position: absolute;
    margin-top: -315px;
    margin-left: -40px;
    border-right: 30px solid gray;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.next {
    border-right: 0;
    margin-left: 810px;
    border-left: 30px solid gray;
}
.prev:hover {
    border-right-color: silver;
    cursor:pointer;
}
.next:hover {
    border-left-color: silver;
    cursor:pointer;
}
.navi {
    width: 800px;
    text-align: center;
}
.navi > span {
    width: 8px;
    height: 8px;
    margin: 5px;
    display: inline-block;
    background-color: gray;
    border-radius: 4px;
}
.navi > span.active {
    background-color: silver;
}